doctype html
html
    head
        title Just GEBS
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

        // bower:css
        // endbower

        // bower:fonts
        // endbower

        // inject:css
        // endinject

    body
        // Clean
        div#test-hook
        div Pug Is Working!

        // bower:js
        // endbower

        // inject:js
        // endinject
