#test-hook {
  background: #f1f1f1;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -100px; }

.test {
  font-size: 32px;
  text-align: center;
  line-height: 200px;
  color: #20d910;
  margin: 0;
  padding: 0; }
